.counter {
    background: #CDDC39;
    padding: 1rem;
}

.nodisplay {
    display: none;
}

.card-content {
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: 2rem;
}

.counter .title {
    text-align: center;
    color: #607d8b;
}