<div fxFlex="70">
    <ngx-charts-line-chart
        [results]="trackService.chartData"
        [scheme]="colorScheme"
        yAxis='true'
        yAxisLabel='Altitude'
        yAxisLabel='true'
        autoScale='true'>
    </ngx-charts-line-chart>
</div>
<div
    fxFlex="30"
    class="counter"
    [class]="trackService.alts==null ? 'nodisplay' : ''">
    <h2 class="title">Current elevation gain estimate</h2>
    <div class="card-content">
        {{ trackService.currentElevationGain() | number:'1.0-0' }} m.
    </div>
</div>