<div fxFlex="66" class="add-peak-control">
  <form (ngSubmit)="addPeak()" fxLayout="row">
    <div fxFlex="80" fxLayoutAlign="space-around center">
      <mat-slider min="0" [max]="trackService.length()" value="0" tabindex="0" name="be" [(ngModel)]="addPeakModel.be" (ngModelChange)="beChanged()"
        [disabled]="!this.layerService.active()">
      </mat-slider>
      <mat-slider min="0" [max]="trackService.length()" value="0" tabindex="0" name="en" [(ngModel)]="addPeakModel.en" (ngModelChange)="enChanged()"
        [disabled]="!this.layerService.active()">
      </mat-slider>
    </div>
    <div fxFlex="20" fxLayoutAlign="space-around center">
      <button mat-raised-button color="accent" type="submit" [disabled]="!this.layerService.active()">
        <mat-icon>add</mat-icon> Add peak
      </button>
    </div>
  </form>
</div>

<div fxFlex="34" class="upload-file-control" fxLayoutAlign="space-around center">
  <button mat-raised-button color="" (click)="gpxFileInput.click()">
    <mat-icon>file_upload</mat-icon> Load GPX Track
  </button>
  <input hidden type="file" #gpxFileInput (change)="selectUploadedTrack($event)" accept=".gpx" />
</div>
