<div fxLayout="column" class="container">
  <map fxFlex="66vh"></map>
  <joystick fxFlex="5rem"></joystick>
  <app-chart fxFlex></app-chart>
  <a mat-fab class="mat-fab-bottom-right" href="https://bitbucket.org/jasiekmarc/elevate-o-meter/overview" title="Help (opens in new tab)"
    target="_blank">
    <mat-icon>help</mat-icon>
  </a>
</div>
